
TIBBTDOMAIN         BITMAP "..\Images\Domain.bmp"
TIBBTSYSTEMDOMAIN   BITMAP "..\Images\SysDomain.bmp"
TIBBTTABLE          BITMAP "..\Images\Table.bmp"
TIBBTSYSTEMTABLE    BITMAP "..\Images\SysTable.bmp"
TIBBTSYSTEMTABLETMP BITMAP "..\Images\SysTableTmp.bmp"
TIBBTFIELD          BITMAP "..\Images\Field.bmp"
TIBBTCONSTRAINT     BITMAP "..\Images\Constraint.bmp"
TIBBTINDEX          BITMAP "..\Images\Index.bmp"
TIBBTVIEW           BITMAP "..\Images\View.bmp"
TIBBTPROCEDURE      BITMAP "..\Images\Procedure.bmp"
TIBBTTRIGGER        BITMAP "..\Images\Trigger.bmp"
TIBBTGENERATOR      BITMAP "..\Images\Generator.bmp"
TIBBTEXCEPTION      BITMAP "..\Images\Exception.bmp"
TIBBTFUNCTION       BITMAP "..\Images\Function.bmp"
TIBBTFILTER         BITMAP "..\Images\Filter.bmp"
TIBBTROLE           BITMAP "..\Images\Role.bmp"

TIBSHDOMAINPALETTEACTION    BITMAP "..\Images\Domain.bmp"
TIBSHTABLEPALETTEACTION     BITMAP "..\Images\Table.bmp"
TIBSHINDEXPALETTEACTION     BITMAP "..\Images\Index.bmp"
TIBSHVIEWPALETTEACTION      BITMAP "..\Images\View.bmp"
TIBSHPROCEDUREPALETTEACTION BITMAP "..\Images\Procedure.bmp"
TIBSHTRIGGERPALETTEACTION   BITMAP "..\Images\Trigger.bmp"
TIBSHGENERATORPALETTEACTION BITMAP "..\Images\Generator.bmp"
TIBSHEXCEPTIONPALETTEACTION BITMAP "..\Images\Exception.bmp"
TIBSHFUNCTIONPALETTEACTION  BITMAP "..\Images\Function.bmp"
TIBSHFILTERPALETTEACTION    BITMAP "..\Images\Filter.bmp"
TIBSHROLEPALETTEACTION      BITMAP "..\Images\Role.bmp"

FORM_FIELDS        BITMAP "..\Images\Field.bmp"
FORM_CONSTRAINTS   BITMAP "..\Images\Constraint.bmp"
FORM_INDICES       BITMAP "..\Images\Index.bmp"
FORM_TRIGGERS      BITMAP "..\Images\Trigger.bmp"
FORM_DESCRIPTION   BITMAP "..\Images\Form_Description.bmp"
FORM_DESCRIPTIONS  BITMAP "..\Images\Form_Description.bmp"
FORM_DEPENDENCIES  BITMAP "..\Images\Form_Dependencies.bmp"
FORM_FIELD_DESCRIPTIONS  BITMAP "..\Images\Form_Field_Description.bmp"
FORM_PARAM_DESCRIPTIONS  BITMAP "..\Images\Form_Field_Description.bmp"
FORM_FIELD_ORDER         BITMAP "..\Images\Form_Field_Order.bmp"


FORM_SOURCE_DDL    BITMAP "..\Images\Form_SourceDDL.bmp"
FORM_ALTER_DDL     BITMAP "..\Images\Form_AlterDDL.bmp"
FORM_DROP_DDL      BITMAP "..\Images\Form_DropDDL.bmp"
FORM_RECREATE_DDL  BITMAP "..\Images\Form_RecreateDDL.bmp"
FORM_CREATE_DDL    BITMAP "..\Images\Form_CreateDDL.bmp"


TibSHDDLObjectFormAction_CreateDDL     BITMAP "..\Images\Form_CreateDDL.bmp"
TibSHDDLObjectFormAction_SourceDDL     BITMAP "..\Images\Form_SourceDDL.bmp"
TibSHDDLObjectFormAction_AlterDDL      BITMAP "..\Images\Form_AlterDDL.bmp"
TibSHDDLObjectFormAction_DropDDL       BITMAP "..\Images\Form_DropDDL.bmp"
TibSHDDLObjectFormAction_RecreateDDL   BITMAP "..\Images\Form_RecreateDDL.bmp"
TibSHDDLObjectFormAction_Description   BITMAP "..\Images\Form_Description.bmp"
TibSHDDLObjectFormAction_Dependencies  BITMAP "..\Images\Form_Dependencies.bmp"
TibSHDDLObjectFormAction_Fields        BITMAP "..\Images\Field.bmp"
TibSHDDLObjectFormAction_Constraints   BITMAP "..\Images\Constraint.bmp"
TibSHDDLObjectFormAction_Indices       BITMAP "..\Images\Index.bmp"
TibSHDDLObjectFormAction_Triggers      BITMAP "..\Images\Trigger.bmp"
TibSHDDLObjectFormAction_Data          BITMAP "..\Images\Form_Data_Grid.bmp"
TibSHDDLObjectFormAction_DataBLOB      BITMAP "..\Images\Form_Data_Blob.bmp"
TibSHDDLObjectFormAction_DataForm      BITMAP "..\Images\Form_Data_VCL.bmp"
TibSHDDLObjectFormAction_FieldDescr    BITMAP "..\Images\Form_Field_Description.bmp"
TibSHDDLObjectFormAction_FieldOrder    BITMAP "..\Images\Form_Field_Order.bmp"
TibSHDDLObjectFormAction_ParamDescr    BITMAP "..\Images\Form_Field_Description.bmp"


TibBTDescriptionFormAction_Run         BITMAP "..\Images\Button_Run.bmp"
TibSHFieldDescrFormAction_Run          BITMAP "..\Images\Button_Run.bmp"
TibSHFieldDescrFormAction_Refresh      BITMAP "..\Images\Button_Refresh.bmp"
TibSHFieldOrderFormAction_Run          BITMAP "..\Images\Button_Run.bmp"
TibSHFieldOrderFormAction_MoveUp       BITMAP "..\Images\Button_Arrow_Top.bmp"
TibSHFieldOrderFormAction_MoveDown     BITMAP "..\Images\Button_Arrow_Down.bmp"
TibSHFieldOrderFormAction_Refresh      BITMAP "..\Images\Button_Refresh.bmp"
TibBTDependenciesFormAction_Run        BITMAP "..\Images\Button_Run.bmp"
TibBTDependenciesFormAction_Refresh    BITMAP "..\Images\Button_Refresh.bmp"


TibSHTableFormAction_Run               BITMAP "..\Images\Button_Run.bmp"
TibSHTableFormAction_Pause             BITMAP "..\Images\Button_Pause.bmp"
TibSHTableFormAction_Commit            BITMAP "..\Images\Button_TrCommit.bmp"
TibSHTableFormAction_Rollback          BITMAP "..\Images\Button_TrRollback.bmp"
TibSHTableFormAction_Create            BITMAP "..\Images\Button_Create.bmp"
TibSHTableFormAction_Alter             BITMAP "..\Images\Button_Alter.bmp"
TibSHTableFormAction_Recreate          BITMAP "..\Images\Button_Recreate.bmp"
TibSHTableFormAction_Drop              BITMAP "..\Images\Button_Drop.bmp"
TibSHTableFormAction_Refresh           BITMAP "..\Images\Button_Refresh.bmp"

TibSHProcedureToolbarAction_Execute    BITMAP "..\Images\Button_ExecuteProcedure.bmp"
