TibSHServer              BITMAP "..\Images\Server.bmp"
TfbSHServer              BITMAP "..\Images\Server.bmp"

TibSHDatabase            BITMAP "..\Images\Database.bmp"
TfbSHDatabase            BITMAP "..\Images\Database.bmp"

TibSHServerOptions       BITMAP "..\Images\Server.bmp"
TfbSHServerOptions       BITMAP "..\Images\Server.bmp"

TibSHDatabaseOptions     BITMAP "..\Images\Database.bmp"
TfbSHDatabaseOptions     BITMAP "..\Images\Database.bmp"

TibSHRegisterServerAction          BITMAP "..\Images\ServerRegister.bmp"
TibSHRegisterDatabaseAction        BITMAP "..\Images\DatabaseRegister.bmp"
TibSHCloneServerAction             BITMAP "..\Images\ServerClone.bmp"
TibSHCloneDatabaseAction           BITMAP "..\Images\DatabaseClone.bmp"
TibSHUnregisterServerAction        BITMAP "..\Images\ServerUnregister.bmp"
TibSHUnregisterDatabaseAction      BITMAP "..\Images\DatabaseUnregister.bmp"
TibSHCreateDatabaseAction          BITMAP "..\Images\DatabaseCreate.bmp"
TibSHDropDatabaseAction            BITMAP "..\Images\DatabaseDrop.bmp"
TibSHAliasInfoServerAction         BITMAP "..\Images\ServerInfo.bmp"
TibSHAliasInfoDatabaseAction       BITMAP "..\Images\DatabaseInfo.bmp"

TibSHServerEditorRegisterDatabase  BITMAP "..\Images\DatabaseRegister.bmp"
TibSHServerEditorCreateDatabase    BITMAP "..\Images\DatabaseCreate.bmp"
TibSHServerEditorClone             BITMAP "..\Images\ServerClone.bmp"
TibSHServerEditorUnregister        BITMAP "..\Images\ServerUnregister.bmp"
TibSHServerEditorTestConnect       BITMAP "..\Images\Button_ConnectTest.bmp"
TibSHServerEditorRegInfo           BITMAP "..\Images\ServerInfo.bmp"

TibSHDatabaseEditorConnect         BITMAP "..\Images\Button_Connect.bmp"
TibSHDatabaseEditorReconnect       BITMAP "..\Images\Button_Reconnect.bmp"
TibSHDatabaseEditorDisconnect      BITMAP "..\Images\Button_Disconnect.bmp"
TibSHDatabaseEditorRefresh         BITMAP "..\Images\Button_Refresh.bmp"
TibSHDatabaseEditorActiveUsers     BITMAP "..\Images\User.bmp"
TibSHDatabaseEditorOnline          BITMAP "..\Images\Online.bmp"
TibSHDatabaseEditorShutdown        BITMAP "..\Images\Shutdown.bmp"
TibSHDatabaseEditorClone           BITMAP "..\Images\DatabaseClone.bmp"
TibSHDatabaseEditorUnregister      BITMAP "..\Images\DatabaseUnregister.bmp"
TibSHDatabaseEditorDrop            BITMAP "..\Images\DatabaseDrop.bmp"
TibSHDatabaseEditorTestConnect     BITMAP "..\Images\Button_ConnectTest.bmp"
TibSHDatabaseEditorRegInfo         BITMAP "..\Images\DatabaseInfo.bmp"
